.site-nav__button.is-open .site-nav__icon {
  display: none;
}
.site-nav__icon--close {
  display: none;
}
.site-nav__button.is-open .site-nav__icon--close {
  display: block;
}
.menu-container {
  display: none;
  position: absolute;
  top: 100%;
  background-color: aqua;
  text-align: center;
  left: 0;
  width: 100%;
  &.is-open {
    display: block;
  }
}
