.site-nav__icon--close {
  display: none;
}
.site-nav__button.is-open .site-nav__icon {
  display: none;
}
.site-nav__button.is-open .site-nav__icon--close {
  display: flex;
}
.site-nav__button {
  position: relative;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  border: none;
  display: flex;
  z-index: 3;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 40px;
  height: 40px;

  @include mq(tablet) {
    display: none;
  }
}
.site-nav__icon--close {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 4;
  justify-content: center;
  align-items: center;
  fill: var(--primary-text-colore);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--logo-dark-colore);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .site-nav__button:hover > &,
  .site-nav__button:focus > & {
    fill: var(--accent-colore);
  }
}
.menu-container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  text-align: center;
  @include mq(mobile-only) {
    display: none;
    position: fixed;
    background-color: var(--white-colore);
    left: 0;
    top: 0;
    width: 100vh;
    height: 100vh;
    z-index: 1;
    padding-top: 50px;
    padding-left: 40px;
    padding-bottom: 50px;
    &.is-open {
      display: flex;
      align-content: space-between;
      flex-direction: column;
    }
  }
  @include mq(desktop) {
    align-items: center;
   width: 100%;}
}
.social-contacts {
  display: flex;
  flex-wrap: wrap;
  @include mq(tablet) {
    display: none;
  }
}


.social-contacts__item:not(:last-child)::after {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    margin: 0 10px;
    background-color: rgba(33, 33, 33, 0.2);
}
.social-contacts__link {
  display: inline;
  color: var(--accent-colore);
  text-decoration: none;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}
