.footer {
  background-color: var(--footer-background-color);

  &__container {
    @include mq(tablet) {
      padding-left: 76px;
      padding-right: 89px;
    }
    @include mq(desktop) {
      display: flex;
      align-items: baseline;
      padding-left: 15px;
      padding-right: 15px;
    }
    @include mq(notDesktop) {
      text-align: center;
    }
  }
  &__main {
    @include mq(tablet) {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
  }
  &__logo {
    display: block;
    margin-bottom: 20px;
  }
}
.actionsosial {
  margin-bottom: 60px;
  @include mq(desktop) {
    margin-left: 87px;
  }
  &__title {
    margin-top: 0;
    margin-bottom: 20px;
    color: var(--white-colore);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}
.social-list__icon {
  fill: var(--white-colore);
}
.social-list__link {
  background-color: rgba(255, 255, 255, 0.1);
}
