.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  padding-top: 0;
  padding-bottom: 0;
}
.site-nav {
  display: block;
  margin-right: auto;
  align-items: center;
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }
  @media screen and (min-width: $desktop) {
  }

  &__logo {
    @media screen and (min-width: $tablet) {
      margin-right: 88px;
    }
    @media screen and (min-width: $desktop) {
      margin-right: 93px;
    }
  }
  &__list {
    display: block;
    @media screen and (min-width: $tablet) {
      display: flex;
      align-items: center;
      text-align: center;
      margin-right: auto;
    }
  }
  &__item {
    margin-right: 35px;
    @media screen and (min-width: $tablet) {
    }
  }
}
.site-nav__link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-text-colore);
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  display: block;
  @media screen and (min-width: $tablet) {
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  &:hover,
  &:focus {
    color: var(--accent-colore);
  }
  &--current {
    content: ' ';
    position: relative;
    color: var(--accent-colore);
  }

  &--current::after {
    @media screen and (min-width: $tablet) {
      content: ' ';
      position: absolute;
      width: 100%;
      height: 4px;
      display: block;
      bottom: -1px;
      border-radius: 2px;
      background-color: var(--accent-colore);
      transform: scaleX(1);
    }
  }
}
.contacts__list {
  display: block;
  color: var(--light-text-colore);
  fill: var(--light-text-colore);
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: $tablet) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    padding: 0;
  }
}
.contacts__item {
  display: block;
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
  &:not(:last-child) {
    @media screen and (min-width: $tablet) {
      margin-bottom: 10px;
    }
    @media screen and (min-width: $desktop) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }
  &:hover,
  &:focus {
    color: black;
    fill: var(--accent-colore);
  }
}
.contacts__item:hover,
.contacts__item:focus {
  color: tomato;
}
.contacts__icon {
  margin-right: 10px;
  fill: var(--light-text-colore);
  @media screen and (maxn-width: 767px) {
    display: none;
  }
}
.contacts__link {
  color: var(--light-text-colore);
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
