.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--hero-background-color);
  background-image: linear-gradient(
      to right,
      var(--hero-overlay-colore),
      var(--hero-overlay-colore)
    ),
    url(../images/hero_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  @media screen and (min-width: $tablet) {
    max-width: 480px;
  }
  @media screen and (min-width: $tablet) {
    max-width: 768px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
  }
  &__container {
    padding: 0;
    text-align: center;
  }
  &__slogan {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    color: var(--white-colore);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    @media screen and (max-width: 1199px) {
      width: 100%;
      max-width: 360px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 44px;
      max-width: 696px;
    }
  }
}
