.logo {
  color: var(--accent-colore);
  font-family: var(--logo-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logohalf {
  color: var(--logo-dark-colore);
}
.footer__logohalf {
  color: var(--white-colore);
}
